!website/out/dist/*.png
*.DS_Store
.idea
.sass-cache
bower_components
node_modules
cause-node/uploads
cause-node/doc
cause-node/uploads
dump.rdb
*.DS_Store
website/.sass-cache
website/node_modules
website/out/404.html
website/out/404/
website/out/500.html
website/out/500/
website/out/a.html
website/out/a/
website/out/bower_components
website/out/css
website/out/dist/*
website/out/donor.html
website/out/donor/
website/out/index.html
website/out/login.html
website/out/login/
website/out/member/index.html
website/out/privacypolicy.html
website/out/privacypolicy/
website/out/signup-nonprofit.html
website/out/signup-nonprofit/
website/out/signup.html
website/out/signup/
website/out/termsandconditions.html
website/out/termsandconditions/
website/out/unsubscribe.html
website/out/unsubscribe/
website/out/member/index.html
website/out/member.html
website/out/member/index.html
website/out/catholiccrowdfunding.html
website/out/catholiccrowdfunding/
website/out/christiancrowdfunding.html
website/out/christiancrowdfunding/
website/out/features/groups.html
website/out/features/groups/
website/out/missionary.html
website/out/missionary/
website/out/sportingandathletics.html
website/out/sportingandathletics/
website/out/traditionalvalues.html
website/out/traditionalvalues/
website/out/sampleaccount.html
website/out/sampleaccount/
website/out/dist/*
!website/out/dist/*.png
nodejobs/node_modules
nodejobs/views
nodejobs/config
nodejobs/services
nodejobs/utils
nodejobs/mail.js
nodejobs/sql-queries.xml
website/out/ambassadors/index.html
website/out/about/index.html
website/out/index2/index.html
website/out/partners/index.html
website/out/amcharts
website/out/member/amcharts
website/out/createp2p.html
website/out/createp2p/
wonderwe-pro/node_modules
wonderwe-pro/public/js/lib
offers/node_modules/
giving-campaigns/node_modules/
website/out/startteam.html
website/out/startteam/
website/out/globalteam.html
website/out/globalteam/
website/out/features/teams.html
website/out/features/teams/
website/out/startclaim.html
website/out/startclaim/
website/out/globalclaim.html
website/out/globalclaim/
website/out/apidoc/