<h1>{{title}}</h1>
<p>{{campaigns}}</p>
<div class="row">
	<div class="col-sm-3 col-md-4">
		<div class="card">
		  <img class="card-img-top" src="https://wonderwe.s3.amazonaws.com/profile/d6a91600-e746-49f3-b300-983510e3883d-kidandmomimg.jpg" alt="Card image cap" width="268" height="180">
		  <div class="card-block">
		    <h4 class="card-title">Card title</h4>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		    <a href="#" class="btn btn-primary">Go somewhere</a>
		  </div>
		</div>		
	</div>
	
</div>


