
<div class="page-content">
    <div class="col-sm-12 whitebox unsubscribe" style="margin-top:30px">
	    <br>
		<label>Error 404<br><img src="/images/sad1.png" class="org-nonprofit"alt="Nonprofit-organization" width="100" height="100"></img></label>
		<h3>Sorry, we can’t find the page you are looking for. Please checkout our popular pages below.</h3>
        <!-- {{#if charitynav}}  
		<a href="/a/#!dashboard" class="btn btn-subtle " style="background-color:yellow">WonderWe home page</a></p>
		{{else donornav}} 
				<a href="/member" class="btn btn-subtle">WonderWe home page</a></p>

		 {{else}} 
				<a href="/" class="btn btn-subtle">WonderWe home page</a></p>

		  {{/if}} -->
	</div>
</div>
 <!--  <div class="GridTimeline-footer">
    <div class="GridTimeline-footerIcon">
      <img src="/images/we_logo.svg">
    </div>
  </div> -->
  <!-- /we -->
  <section class="ptb-20-80">
    <div class="container text-center">
      <div class="section-title">
        <h1><strong>Start your free online fundraiser</strong></h1>
        <h4>Raise money for important causes.  Choose the one that matters most to you.</h4>
      </div>
      <div class="row">
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/animals-nature#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/animals-and-nature.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-tree"></i>
            </div>
            <div class="homePage-title">
              Animals &amp; Nature
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/arts-entertainment#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/arts-and-entertainment.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-paint-brush"></i>
            </div>
            <div class="homePage-title">
              Arts &amp; Entertainment
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/community#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/community.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-comments-o"></i>
            </div>
            <div class="homePage-title">
              Community
            </div>
          </div>
        </a>
               <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/education#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/education.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="homePage-title">
              Education
            </div> 
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/faith-family#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/faith-and-family.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <img src="/images/icon-family1.png" class="icon-family">
            </div>
            <div class="homePage-title">
              Faith &amp; Family
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/freedom-of-religion#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/freedom-of-religion.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <img src="/images/icon-church1.png" class="icon-church">
            </div>
            <div class="homePage-title">
              Freedoms
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/hunger-housing#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/hunger-and-housing.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-cutlery"></i>
            </div>
            <div class="homePage-title">
              Hunger &amp; Housing
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/international-travel#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/international-and-travel.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-plane"></i>
            </div>
            <div class="homePage-title">
              International &amp; Travel
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/medical-emergencies#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/medical-and-emergency.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-ambulance"></i>
            </div>
            <div class="homePage-title">
              Medical &amp; Emergencies
            </div>
          </div>
        </a>
                <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/memorials#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/seniors.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-trophy"></i>
            </div>
            <div class="homePage-title">
              Memorials
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/pro-life#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/pro-life.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-heartbeat"></i>
            </div>
            <div class="homePage-title">
              Pro-life
            </div>
          </div>
        </a>
        <a class="homeTile homeTileBox col-xs-4 col-sm-3" href="/category/volunteer-mission#">
          <div class="homeTile-content" style="background-image: url(https://s3.amazonaws.com/wonderwe-prod/categories/volunteer-and-mission.jpg)">
            <div class="homeTile-background"></div>
            <div class="homeTile-icon2">
              <i class="fa fa-check"></i>
            </div>
            <div class="homePage-title">
              Volunteer &amp; Mission
            </div>
          </div>
        </a>
 
      </div>
    </div>
  </section>
  <!-- we -->
  <div class="GridTimeline-footer overlap">
    <div class="GridTimeline-footerIcon transparent"> 
      <img src="/images/we_logo.svg">
    </div>
  </div>
  <!-- /we -->
  <section class="ptb-40-60 dark-strip">
    <div class="container text-center">
      <div class="section-title">
        <h1><strong>WonderWe is about the 'we', not the fees.</strong></h1>
        <h3>While GoFundMe and other crowdfunding sites charge 5% or more, WonderWe does not take any of your money. The only charge you will see is the third-party payment processor fee.</h3>
      </div>
      <div class="col-sm-6 col-centered section-action">
        <a href="/free-fundraising" class="btn btn-lg btn-2-block btn-outline">Learn more</a>
        <a href="/how-it-works" class="btn btn-lg btn-2-block btn-outline">How it works</a>
      </div>
    </div>
  </section>
  <!-- we -->
   <div class="GridTimeline-footer overlap">
    <div class="GridTimeline-footerIcon transparent">
      <img src="/images/we_logo.svg">
    </div>
  </div>
  <!-- /we -->
  <section class="ptb-40 white-strip">
    <div class="container">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner equal-height-carousel" role="listbox">
    <div class="item active">
      <div class="testimonial-body">
        <h2 class="sr-only">Testimonial</h2>
        <i class="fa fa-quote-left"></i>
        <p class="testimonial-bubble">
          WonderWe's platform was instrumental in helping the Kansas City Startup Foundation successfully reach our matching fundraiser goal in the final days of 2015. The platform was not only super easy to use, but the process of launching our fundraiser was very quick. Donors we're able to donate to the cause quickly and easily, just the way it should be.
          <!-- We're so happy this service is provided by a company based right here in Kansas City. -->
        </p>
        <div class="testimonial-author">
          <img src="/images/testimonials/matthew.jpg" alt="Marcus Matthew from the Kansas City Startup Foundation" class="pull-left">
          <span><span class="author-name">Marcus Matthew</span> <em>Kansas City Startup Foundation</em></span>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="testimonial-body">
        <h2 class="sr-only">Testimonial</h2>
        <i class="fa fa-quote-left"></i>
        <p class="testimonial-bubble">
          The WonderWe team is the most helpful and supportive partner I've ever worked with! Their expertise is only exceeded by their heart. 
        </p>
        <div class="testimonial-author">
          <img src="/images/testimonials/jennifer-crown.jpg" alt="Jennifer Crown from The Guiding Star Project" class="pull-left">
          <span><span class="author-name">Jennifer Crown</span> <em>The Guiding Star Project</em></span>
        </div> 
      </div>
    </div>
  </div>

  <!-- Hide controls except for screen readers -->
  <a class="sr-only left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="sr-only right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

      <div class="ptb-60-0 text-center">
        <div class="download-area">
          <ul class="btn-group list-inline">
            <li class="ios-btn">
              <a href="https://itunes.apple.com/us/app/wonderwe/id1036116391">Download from the App Store</a>
            </li>
            <li class="android-btn">
              <a href="https://play.google.com/store/apps/details?id=com.mobile.wonderwe">Get it from Google Play</a>
            </li>
          </ul>
          <div class="note text-center">
            <p>
              Free mobile app for everyone!
              <br> Make donations on the go.
            </p>
          </div>
          <!--//note-->
        </div>
        <!--//download-area-->
      </div>
    </div>
  </section>
  <!-- /testimonials and download mobile app section -->
  <!-- we -->
  <div class="GridTimeline-footer overlap">
    <div class="GridTimeline-footerIcon transparent"> 
      <img src="/images/we_logo.svg">
    </div>
  </div>
  <!-- /we -->
  <section class="ptb-40-60 dark-strip">
    <div class="container"> 
    <div class="col-sm-6 explainer-split-left" >
      <div class="section-title">
        <h1><strong>How crowdfunding works</strong></h1>
        <h3>WonderWe is a free online fundraising platform that helps people raise money through small gifts from a large number of people.</h3>
      </div>
        <a href="/crowdfunding" class="btn btn-lg btn-2-block btn-outline">Learn more</a>
        </div>
        <div class="col-sm-6 explainer-split-right">
      <div class="section-title">
        <h1><strong>Start a free fundraiser</strong></h1>
        <h3>Raise money for a a friend's personal need or help a charitable organization reach its fundraising goal.  It's easy!</h3>
      </div>
        <a href="/start" class="btn btn-lg btn-2-block btn-outline">Get started</a>
        </div>
  </section>
