<div class="container-fluid">
	<div class="col-sm-12 whitebox unsubscribe">
		<p>Error 500</p>
		<img src="/images/cog.png" alt="Error" />
		<h3>Sorry, something is wrong.</h3>
		<p>{{error}}</p>
		<p>Please try again later or contact <a href="mailto:support@wonderwe.com?subject=I'm seeing an Error 500 message">support@wonderwe.com</a></p>
		<p><a href="/" class="btn btn-subtle">WonderWe home page</a></p>
		<br />
		<br />
	</div>
</div>
