<div class="container">
	<div class="row account-activated">
		<div class="col-sm-7 col-lg-6 col-centered whitebox text-center">
			<img src="/images/check-green.png" alt="Completed" />
			<h2>Congratulations!</h2>
			<p>
			Your account has been activated. You can now start using WonderWe!
			</p>
			<div class="form-group actions" id="js-donor-activation" data-userid="{{user_id}}">
				<a class="btn btn-default btn-orange" href="/login">Get Started</a>
			</div>
		</div>
	</div>
</div>
