<div class="container">
    <div class="row account-activated">
        <div class="col-sm-7 col-lg-6 col-centered whitebox text-center">
            <img src="/images/check-green.png" alt="Success!" />
            <h2>
                You already follow {{charityName}}. 
            </h2>
            <div class="form-group actions" id="js-donor-activation" data-userid="{{user_id}}">
                <a class="btn btn-default btn-subtle" href="/login">Log in to continue</a>
            </div>
        </div>
    </div>

</div>
