

 <div class="page-content">
    <div class="container main">
    	<h1> Suggseted campaigns</h1>
    	 <div class="col-sm-12 col-md-6 col-centered text-center">
    	 <div class="transparent_box">
      		{{#each suggestions}}
      		<li>
      			<h3><a href="/{{text}}">
      				{{text}}
      			</a>
      			</h3>
      		</li>
      		{{/each}}
      	</div>
      	</div>
      </div>
    </div>
    <br/><br/><br/>
