
<form>
	<table>
		<tbody>
			<tr>
				<td>
					<b>Organization:</b>
				</td>
				<td>
					<input type="text" name="organization">
				</td>
			</tr>
			<tr>
				<td>
					<b>Eamil:</b>
				</td>
				<td>
					<input type="text" name="Eamil">
				</td>
			</tr>
			<tr>
				<td>
					<b>Phone</b>
				</td>
				<td>
					<input type="text" name="phone">
				</td>
			</tr>
		</tbody>
	</table>
</form>