
    <div id="data-info" data-type="hashtag" data-hashtag="{{hashtag}}"></div>
    <div class="hashtag-header">
        <h1 class="text-center">#{{hashtag}}</h1>
    </div>

    <div class="container-fluid ">
    <div class="col-sm-3">
        <div class="module js-trendingId">
        </div>
        <div class="module js-whotofollowId">
        </div>
        <div class="footer inappfooter">
        </div>
    </div>
    <div class="col-sm-6">

                <div class="filterbar">
                    <div class="filter-choice">
                        <a class="js-hashtag-details active" data-type="feed">Posts</a>
                        <a class="js-hashtag-details" data-type="account">Accounts</a>
                        <a class="js-hashtag-details" data-type="photos">Photos</a>
                    </div>
                </div>
            <!-- /.filterbar -->
        
        <div class="js-org-posts">
        </div>
        <div class="js-hashtag-account discover-card-container module" style="display:none">
        </div>
        <div class="js-hastag-photos module" style="display:none">
        </div>
    </div>
    <!-- /.col-sm-6 -->

    <div class="col-sm-3">
    <div class="module tip-text">
            <h4>All about hashtags</h4>
            <hr>
            <p><strong>What is a hashtag?</strong>  <br> A hashtag is a type of label used by social network users to find messages with a specific theme or content.</p><br>
            <p><strong>How do I use a hashtag?</strong>  <br> Users create hashtags by placing the hash character (or number sign) <i class="icon ion-pound hashtag-icon"></i> in front of a word or unspaced phrase.</p><p>Searching for that hashtag will then present each message that has been tagged with it.</p><br>
            <p><strong>Can I use an existing hashtag?</strong>  <br> Rather than creating your own hashtag, sometimes you want to enter a discussion around a topic where a hashtag already exists. You would simply add that hashtag in your post. By doing so, you are sharing your content related to that same topic. </p><br>
            <p><strong>Can I use more than one?</strong>  <br> TThe quantity of hashtags used in a post is just as important as the types of hashtags used. It is currently considered acceptable to tag a post once when contributing to a specific conversation. Two hashtags are considered acceptable when adding a location to the conversation. Three hashtags are seen by some as the "absolute maximum".</p><br>
            <p><small>Source: <a class="inconspicuous" href="https://en.wikipedia.org/wiki/Hashtag" target="_blank">Wikipedia</a> and <a class="inconspicuous" href="http://smallbiztrends.com/2013/08/what-is-a-hashtag.html" target="_blank">Small Business Trends</a>.</small></p>
        </div>
    </div>
    <!-- /.col-sm-3 -->

</div>
<!-- /.container-fluid -->