
 <div class="success col-xs-8 col-sm-4 col-md-7 col-centered whitebox align="center">
	<h4 class="success1" style="color:#434343">Password has been successfully changed, Please login with new password</h4>
	<br />
	<div style="text-align:center">
	<a class=" btn btn-warning btn-lg"  href="/login" align="center">Go to Login page</a>
	<!--End Reg Block-->
	</div>
</div>

