<div class="container-fluid wrapper page-content">
    <span id="data-info" data-type="postpage" data-postid={{postId}} data-slug={{slug}}></span>

    <div class="row">
        <div class="col-sm-3">
            <div class="module js-trendingId">
            </div>
        </div>
        <div class="col-sm-6 js-userPostsInformations js-org-posts">
        </div>
        <div class="col-sm-3">
            <div class="module js-whotofollowId">
            </div>
            <div class="footer inappfooter">
            </div>
        </div>
    </div>
</div>
