<div class="footer hidden-xs">
<div class="container-fluid">
	<ul class="text-center">
				<li><span>&copy; 2016 WonderWe&reg;</span></li>
				<li><a href="/signup-nonprofit">Nonprofit Sign Up</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="http://support.wonderwe.com">Help</a></li>
				<li><a href="http://blog.wonderwe.com">Blog</a></li>
				<li><a href="/sitemap/cause-directory">Sitemap</a></li>
				<li><a href="/termsandconditions">Terms</a> / <a href="/privacypolicy">Privacy Policy</a> / <a href="/cookies">Privacy Policy</a></li>
				</ul>
			</div>
</div>
