<footer class="homefooterB" style="margin-top:50px">
	<div class="container inner">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 inner">
				<h4>About WonderWe</h4>
				<p>WonderWe is dedicated to crowdfunding, providing free and easy online fundraising and support for faith, family, and friends.</p>
				<ul class="contacts">
					<li><i class="fa fa-info-circle"></i> <a href="/about" class="blue">About WonderWe</a></li>
					<li><i class="fa fa-map-marker"></i> 118 Southwest Blvd Kansas City, MO 64108</li>
					<li><i class="fa fa-envelope-o"></i> <a class="blue" href="mailto:support@wonderwe.com">support@wonderwe.com</a></li>
				</ul>
				<div class="spacer">
					<h4>Safe and secure</h4>
					<p>Your connection is <a class="blue" href="/trust-safety">secure and encrypted</a> using industry-leading SSL technology.</p>
					<img src="/images/wepay.png" class="img-responsive">
				</div>
			</div>
			<!-- /.col -->
			<div class="col-xs-12 col-sm-6 col-md-4 inner">
				<h4>Easy fundraising</h4>
				<p>Learn more about crowdfunding and find out what makes WonderWe one of the best fundraising sites to raise money for charity.</p>
				<ul class="contacts">
						<li><a class="blue" href="/crowdfunding">All about crowdfunding</a></li>
						<li><a href="/features/organizations" class="blue">Organizations</a></li>
						<li><a class="blue" href="/free-fundraising">Free fundraising</a> / <a class="blue" href="/fundraising-ideas">Tips</a></li>
						</ul>
						<div class="row donation-options-footer">
						<a class="js-collapse-options" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
					</div>
					<div class="row collapse" id="collapseExample">
						<ul>							
						<li><a class="blue" href="/features/groups">Groups</a> and 
						 <a class="blue" href="/features/peer-to-peer">Peer-to-peer</a></li>
						<li><a class="blue" href="/features/viralvideo">Viral Video</a></li>
						<li><a href="/catholiccrowdfunding" class="blue">Catholic Crowdfunding</a></li>
						<li><a class="blue" href="/christiancrowdfunding">Christian Crowdfunding</a></li>
						<li><a href="/missionary" class="blue">Missionary</a></li>
						<li><a class="blue" href="/sportingandathletics">Sporting and Athletics</a></li>
						<li><a href="/traditionalvalues" class="blue">Traditional Values</a></li>
						<li><a href="/features/teams" class="blue">Teams</a></li>
						</ul>
				</div>
				<div class="spacer">
				<h4>Crowdfunding blog</h4>
				<p>Discover <a class="blue" href="https://blog.wonderwe.com">crowdfunding tips, advice, and inspiration</a> to take your fundraiser to the next level.</p>
				<ul class="bloging">
						<li><a class="blue" href="https://blog.wonderwe.com/why-pro-life-crowdfunding-site-needed-%E2%80%93-why-we-need-wonderwe">Why a Pro-Life Crowdfunding Site is Needed</a></li>
						<li><a class="blue" href="https://blog.wonderwe.com/how-wonderwe-might-help-schools-fresh-face-school-fundraising">Crowdfunding for Schools.</a></li>
						<li><a class="blue" href="https://blog.wonderwe.com/how-help-volunteers-create-crowdfunding-campaigns">Volunteer-led Crowdfunding</a></li>
					</ul>
					</div>
			</div>
			<!-- /.col -->
			<div class="col-xs-12 col-sm-12 col-md-4 inner">
				<h4>Stay connected</h4>
				<p>Join the mission! Subscribe to WonderWe emails.</p>
				<!-- mailchimp -->
				<form action="//volunteermark.us2.list-manage.com/subscribe/post?u=a4b4c21ee65829ebaaea75532&amp;id=d29cfca1e5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<div class="transparent_box">
						<div class="input-group">
							<input class="form-control" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address">
							<div style="position: absolute; left: -5000px;">
								<input type="text" name="b_a4b4c21ee65829ebaaea75532_d29cfca1e5" value="">
							</div>
							<span class="input-group-btn">
								<button type="submit" name="subscribe" class="btn btn-orange">Join</button>
							</span>
						</div>
					</div>
				</form>
				<!-- /mailchimp -->
				<div class="spacer col-xs-6 col-sm-6 col-md-12">
					<h4>Customer service</h4>
					<ul class="contacts">
						<li><a class="blue" href="/how-it-works">How it works</a></li>
						<li><a class="blue" href="http://support.wonderwe.com">Help and FAQs</a></li>
						<li><a class="blue" href="https://drive.google.com/drive/u/0/folders/0B5DpnFTRnu0-MDVaNEtPQ2Nqb0E">Media press kit</a></li>
					</ul>
				</div>
				<div class="spacer col-xs-6 col-sm-6 col-md-12">
					<h4>International payments</h4>
					<img src="/images/currencies-accepted.png" class="img-responsive">
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- .container -->
	<div class="footer-bottom">
		<div class="container inner text-center">
			<p class="pull-left">&copy; 2016 WonderWe LLC. All rights reserved.</p>
			<a target="_blank" title="Click for the Business Review of WonderWe LLC, a crowdfunding technology company in Kansas City MO" href="https://www.bbb.org/kansas-city/business-reviews/consultants-social-media/wonderwe-llc-in-kansas-city-mo-1000008432#sealclick"><img alt="Click for the BBB Business Review of this crowdfunding technology company in Kansas City MO" style="border: 0;" src="https://seal-kansascity.bbb.org/seals/black-seal-96-50-whitetxt-wonderwellc-1000008432.png" /></a>
			<ul class="footer-menu pull-right">
				<li><a href="/termsandconditions">Terms of Use</a></li>
				<li><a href="/privacypolicy">Privacy Policy</a></li>
				<li><a href="/cookies">Cookie Policy</a></li>
			</ul>
			<!-- .footer-menu -->
		</div>
		<!-- .container -->
	</div>
	<!-- .footer-bottom -->
</footer>
<div id="watchVideoModal" class="modal hide" style="z-index:10000"  data-keyboard="true" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<img src="/images/wonderwe-dark.png" height="50">
				<a class="close" data-dismiss="modal" aria-hidden="true">x</a>
			</div>
			<div class="modal-body">
				<!-- begin wistia embed -->
				<div style="width:560px;margin:0 auto 0 auto;">
					<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
					<div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
						<div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
							<div class="wistia_embed wistia_async_0anm134f6s autoPlay=true videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
						</div>
					</div>
				</div>
				<!-- end wistia embed -->
			</div>
		</div>
	</div>
</div>
